.allRecipesTitle {
    text-align: center;
    font-size: 32px;
    border-bottom: solid 2px rgb(77, 27, 27);
    color: rgb(77, 27, 27);
    width: 70vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10vh;
}


.allRecipesCards {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

.allRecipesCards ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.allRecipesCards li {
    width: 20vw;
    border: solid 2px rgb(77, 27, 27);
    background-color: white;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.20); 
    border-radius: 10px;
    margin-right: 5vw;
    margin-bottom: 5vw;
}

.allRecipesCards li:hover {
    transform: scale(1.05);
}

.allRecipesCard {
    text-decoration: none;
    color: rgb(77, 27, 27);
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.allRecipesCards ul {
    list-style-type: none;
}

.allRecipesCards #recipePic {
    width: 15vw;
    height: 15vw;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.20); 
}

.allRecipesCards #recipePic:hover {
    filter: brightness(110%);
}